---
import './InfoBox.css'
import MainButton from '../MainButton/MainButton.astro';
const { infoBoxData } = Astro.props;
const { tag, title, text, keyword, links } = infoBoxData;
const { a1, a2, a3, a4, a5, a6 } = links;
---

<div class="infobox-container">
    <p class="tag-infobox">{tag}</p>
    <h2>{title}</h2>
    <div class={
                tag === 'Software' ? "img-infobox tableau" : 
                tag === 'About' ? "img-infobox about" :
                tag === 'Knowledge' ? "img-infobox knowledge" : 
                tag === 'Services' ? "img-infobox services" : ''
                } >

    </div>
    <p class="text-infobox">{text}</p>
    <p class="keyword-infobox">{keyword}</p>
    <hr>
    <div class="links-infobox">
        <div>
            <a href={a1[0]}>{a1[1]}</a>
            <a href={a2[0]}>{a2[1]}</a>
            <a href={a3[0]}>{a3[1]}</a>
        </div>
        <div>
            <a href={a4[0]}>{a4[1]}</a>
            <a href={a5[0]}>{a5[1]}</a>
            <a href={a6[0]}>{a6[1]}</a>
        </div>
    </div>
    <MainButton btnLabelID={'infobox'} btnClass={'infobox'} />
</div>

